@charset "utf-8";

.must{
    background-color: red;
    border-radius: 20%;
    font-size: 10px;
    color: white;
    margin: 5px;
}
.cf{
    font-size: 10px;
}
.aida{
    padding: 5px;
}
table{
    border: solid 2px white;
}
th,td{
    padding: 10px;
}
th{
    color: #FFC0CB;
    background-color: #696969;
    text-align: left;
    vertical-align: top;
}
td{
    background-color: #A9A9A9;
}